
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    background-color:rgba(245, 248, 255, 1);
}
/* shared style */
.display-flex{
    display: flex;
}
.dark2{
    color:#8987A1;
}
#dark-1{
    color: #8987A1;
}
.orange{
    color:#E95A08;
}
/* nav bar style */
nav{
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
     align-items: center;
    
}
.nav-list a{
    text-decoration: none;
    color:#252432 ;
    margin:48px;


}
.home-button{
    font-weight: 700;
}

/* banner style */
.banner{
      max-width: 1140px;
    margin: 0 auto;
    /* border: 2px solid blueviolet; */
    align-items: end;
    margin-top: 120px;
   
}
.banner-title{
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
   
}
.banner-subtitle{
    font-size: 22px;
    margin-top:-35px;
}
/* plant section style */
.our-plants{
     max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 120px;
    border: 2px solid purple;
    text-align: center;
    
}
.op-tile{
    font-size: 3rem;
   
}
.op-subtitle{
    margin-top: -20px;
}
/* responsive for mobile */
@media screen and (max-width:576px) {
    nav{
        align-items: center;
    }
    .home-button, .shop-button,.about-button{
        display: none;
    }
    .cart-button{
    font-size:30px;
    padding-top: 32px;
    
    }
    .banner{
        flex-direction: column-reverse;
    }
}