
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    background-color:rgba(245, 248, 255, 1);
}
/* shared style */
.display-flex{
    display: flex;
}
.dark2{
    color:#8987A1;
}
#dark-1{
    color: #8987A1;
}
.orange{
    color:#E95A08;
}
.border-r1{
    border-radius: 14px;
}
.border-r2{
    border-radius: 22px;
}
/* nav bar style */
nav{
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
     align-items: center;
    
}
.nav-list a{
    text-decoration: none;
    color:#252432 ;
    margin:48px;


}
.home-button{
    font-weight: 700;
}

/* banner style */
.banner{
      max-width: 1140px;
    margin: 0 auto;
    /* border: 2px solid blueviolet; */
    align-items: end;
    margin-top: 120px;
   
}
.banner-title{
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
   
}
.banner-subtitle{
    font-size: 22px;
    margin-top:-35px;
}
/* plant section style */
.our-plants ,.latest-text{
     max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 120px;
    /* border: 2px solid purple; */
    text-align: center;
    
}
.op-tile,.latest-title{
    font-size: 3rem;
   
}
.op-subtitle ,.latest-subtitle{
    margin-top: -20px;
}
 
.plant-section{
     max-width: 1140px;
    margin: 0 auto;
   
   display: grid;
grid-template-columns: repeat(4,1fr);
gap: 20px;
margin-bottom: 210px;
    /* border: 2px solid; */
}
.plant-name{
    padding-left: 30%;
    font-size: 1.375rem;
}
.plant-price{
     padding-left: 30%;
   font-size: 1.375rem;
   font-weight: bold;
   color: #111111;
}
.buy-btn{
    width: 100%;
    padding:19px 80px ;
    background-color:#E95A08 ;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    border:none;
} 
/* plant-lover style */
.plant-lover{
   max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 135px;
   
}
.pl-text{
    margin-left:60px ;
    /* border: 2px solid tomato; */
}
.pl-title{
    font-size: 3rem;
    font-weight: bold;
}

/* latest section image style */

.main-image-box{
    margin-top: 120px;
    display: grid;
    grid-template-areas: "left middle right "
                        "left1 middle right ";
gap: 25px;

}
.img-box1{
    grid-area: left;
   
}
.img-box2{
    grid-area: left1;
    
}
.img-box3{
    grid-area:middle ;
    border-radius: 22px;
}
.img-box4{
    grid-area:middle ;
}
.img-box5{
    grid-area:middle ;
}
.img-box6{
    grid-area:middle ;
}















/* responsive for mobile */
@media screen and (max-width:576px){
     nav{
        align-items: center;
        

    }
    .home-button, .shop-button,.about-button{
        display: none;
    }
    .cart-button{
    font-size:30px;
    padding-top: 32px;
    
    }
    .banner{
        flex-direction: column-reverse;
    }
    .plant-section{
          display: grid;
grid-template-columns: repeat(2,1fr); 
    }
    .plant-lover{
        flex-direction: column;
    }
    .main-image-box{
        display: flex;
        flex-direction: column;
        /* border:2px solid blue; */
        margin-left: 20%;
        height:581px ;
        width:361px ;
    }
    /* .img-box1,.img-box2,.img-box3 img{
     width: 360px;
     height: auto;
    align-items: center;

    }*/
   
    
    .big-image{
  width:361px ;
    }
}
    
